.card__like-btn {
    cursor: pointer;
    border: none;
    background-color: #fff;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.card__like-btn:hover {
    background-image: url(../../../images/heart-hover.svg);
}

.card__like-btn:active {
    background-image: url(../../../images/heart-active.svg);
}